// _variables.scss

//colors
$color-brand: #FF9933;
$color-charcoal: #242423;
$color-offwhite: #f2f2f2;
$color-red: #DB4A3C;
$color-green: #90CA74;
$color-yellow: #FFCC00;
$color-blue: #4CB7DB;

//fonts
$font-family-sans: 'Lato', sans-serif;
$font-family-serif: 'Arvo', serif;
$font-size-base: 1em;
$font-size-lg: 1.2em;
$font-size-sm: 0.875em;

//breakpoints
$breakpoint-xs: 400px;
$breakpoint-sm: 550px;
$breakpoint-md: 750px;
$breakpoint-lg: 1000px;
$breakpoint-xl: 1200px;

//misc
$spacing-unit: 32px;
