// _buttons.scss

.btn {
	background: none;
	border: 2px solid transparent;
	text-decoration: none;
	min-width: 160px;
	min-height: 40px;
	font-size: $font-size-base;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	outline: 0;

	&:hover {
		cursor: pointer;
	}

	&.btn-sm {
		min-width: 120px;
		min-height: 30px;
		font-size: $font-size-sm;
	}

	&.btn-lg {
		min-width: 200px;
		min-height: 50px;
		font-size: $font-size-base * 1.2;
		font-weight: 400;
	}

	&.btn-default {
		@include button-hover(#fff, $color-charcoal);
	}

	&.btn-inverse {
		@include button-hover($color-brand, #fff);
	}
}
