// _nav.scss
//use checkbox to toggle collapse
.navbar {
    background-color: $color-charcoal-grey;
    min-height: 120px;
    width: 100%;
    position: relative;
		a {
        font-size: $font-size-lg;
        text-decoration: none;
        &,
        &:visited {
            color: #fff;
        }
        &.active,
        &.active:active,
        &.active:focus,
        &.active:hover,
        &:active,
        &:focus,
        &:hover {
            color: $color-brand;
        }
    }
}
.navbar-hamburger {
    display: none;
		text-align: center;
		padding: 16px;
		float: right;
}
.navbar-nav {
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: 0;
    & > li {
        display: inline-block;
        padding: 16px;
    }
    .dropdown {
        position: relative;
    }
    .dropdown-menu {
        position: absolute;
        list-style: none;
        padding: 0;
        right: 0;
        top: 100%;
        background-color: $color-charcoal-grey;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease;
        min-width: 100%;
        box-shadow: 0 0 4px $color-charcoal-grey;
        & > li {
            padding: 16px;
            white-space: nowrap;
            min-width: inherit;
        }
    }
    .dropdown:hover {
        cursor: pointer;
        .dropdown-menu {
            visibility: visible;
            opacity: 1;
        }
    }
}
@include media-query($breakpoint-lg) {
	.navbar-hamburger {
		display: block;
	}
	.navbar {
		min-height: 64px;
	}
	.navbar-nav {
		display: none;
	}
}
